window {
    margin: 0px;
    background-color: #232136;
    border-radius: 0px;
    border: 1px solid #FF8899;
    color: #e0def4;
    font-family: 'Monofur Nerd Font';

}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-radius: 0px;;
    color: #FF8899;
    background-color: #393552;
    
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #393552;
    color: #232136;
    border-radius: 0px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #232136;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #e0def4;
} 

#entry:selected {
    background-color: #FF8899;
    color: #232136;
    border-radius: 0px;;
    outline: none;
}

#entry:selected * {
    background-color: #FF8899;
    color: #232136;
    border-radius: 0px;;
    outline: none;
}